@import "variables";
@import "mixins";

.button-link {
  @extend %focus;

  display: flex;
  align-items: flex-end;
  padding: 0;
  color: $color-primary;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 300ms color ease-out;

  &:hover {
    color: lighten($color-primary, 10%);
  }

  &:active {
    color: darken($color-primary, 5%);
  }
}

.button-link_align-items_start {
  align-items: flex-start;
}

.button-link_align-items_center {
  align-items: center;
}

.button-link_align-items_end {
  align-items: flex-end;
}

.button-link__text_context {
  border-bottom: 1px dashed;
}

.button-link__text_external {
  text-decoration: underline;
}

.button-link__icon {
  margin-left: 3px;
  transition: transform 0.2s ease-out;
  fill: currentColor;
}

.button-link__icon_flip_horizontally {
  transform: rotate(180deg);
}
