@import "variables";
@import "mixins";

.button-link {
  @extend %focus;

  display: flex;
  align-items: flex-end;
  padding: 0;
  color: $color-primary;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 300ms color ease-out;

  &:hover {
    color: lighten($color-primary, 10%);
  }

  &:active {
    color: darken($color-primary, 5%);
  }
}

.button-link__text {
  text-decoration: underline;
}

.button-link__icon {
  padding-left: 3px;
  fill: currentColor;
}
