@import "variables";
@import "mixins";

.code-editor {
  border-radius: 4px;
  animation: fade-in $animation-duration-fast ease;
}

.code-editor-wrapper {
  @extend %hover_field;

  position: relative;
  min-height: 500px;
  border: 1px solid $color-border;
  border-radius: 4px;
}

.code-editor-wrapper_error {
  @extend %hover_field-error;

  border-color: $color-error;
}

.code-editor-wrapper_focus {
  @include focus;
}

.code-editor-footer {
  position: relative;
  padding: 8px 10px;
  overflow: hidden;
  color: $color-gray;
  font-size: 12px;
  text-align: right;
  border-top: 1px solid $color-border;
  animation: expand-block $animation-duration-normal ease-in;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background: $color-background;
    visibility: hidden;
    opacity: 0;
    animation: visibility-hidden $animation-duration-normal ease-in;
    content: '';
  }
}
