.expansion-panel__details {
  margin-top: 20px;
  border-bottom: 1px solid $color-border;
}

.expansion-panel__details_hidden {
  display: none;
}

.expansion-panel__details_entered {
  height: auto;
  animation:
    fade-in $animation-duration-normal ease,
    expand-block $animation-duration-normal ease;
}
