@import "variables";

@mixin focus {
  outline: 2px solid rgba($color-primary, 0.4);
  outline-offset: 2px;
}

@mixin hover_field($color-border: $color-border) {
  border-color: darken($color-border, 10%);
}

%focus {
  &:focus {
    @include focus;
  }
}

%hover_field {
  transition: 300ms border-color ease-out;

  &:hover {
    @include hover_field;
  }
}

%hover_field-error {
  transition: 300ms border-color ease-out;

  &:hover {
    @include hover_field($color-error);
  }
}
