$color-primary: #1973e8;
$color-on-primary: #fff;
$color-background: #fff;
$color-surface: #fff;
$color-text: #202124;
$color-border: #dadce0;
$color-black: #000;
$color-gray: #737373;

$animation-duration-normal: 0.6s;
$animation-duration-fast: 0.4s;
